/*  your css code here. If applicable */
.star {
    position: relative;
    width: 0;
    height: 0;
    margin: 100px auto;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid yellow;
}

.star:before {
    content: '';
    position: absolute;
    top: 30px;
    left: -50px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid yellow;
}
